*{
    margin: 0;
    padding: 0;
}

.quizCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pregunta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.pregunta img{
    width: 100px;
}