*{
    margin: 0;
    padding: 0;

    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #070F2B;
    color: #9290C3;
}

.quizCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*STILO DEL TIMER*/

.tiempoPorcentaje{
    background-color: #1B1A55;

    width: 620px;
    height: 30px;
    padding: 10px;

    border-radius: 50px;
    border: 4px solid white;

    justify-self: center;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.tiempoPorcentaje p {
    padding-left: 10px;
    font-size: 20px;
}

.tiempoRestante{
    background: #09C80D;
    height: 100%;
    width: 100%;
    border-radius: 50px;

    /*animation: barPass 10s linear;*/
}

@keyframes barPass {
    0%{
        width: 100%;
        background-color: #00bf11;    
    }
    20%{
        width: 80%;
        background-color: #8dd100; 
    }
    40%{
        width: 60%;
        background-color: #fece00;
    }
    60%{
        width: 40%;
        background-color: #ff9901;
    }
    80%{
        width: 20%;
        background-color: #ff3100;
    }
    100%{
        width: 0%;
        background-color: #ff3100;
    }
}

/*STILO DE LA PREGUNTA*/

.pregunta{
    font-size: 27px;
}

/*STILO DE LAS OPCIONES*/

.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.opciones img{
    width: 300px;
    /*height: 200px;*/
}