*{
    margin: 0;
    padding: 0;

    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #070F2B;
    color: #9290C3;

    width: 100vw;
    min-height: 90vh;
    padding-top: 5vh;
    padding-bottom:5vh ;

    display: flex;
    justify-content: center;
}

#pantallaJuego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*PANTALLA DE INICIO*/

.pantallaInicio{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.822);

    width: 100vw;
    height: 100vh;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pantallaInicio p{
    text-align: center;
    font-size: 50px;
}

.pantallaInicio button{
    background: #00bf11;
    color: white;

    border: none;

    height: 150px;
    width: 150px;

    box-shadow: 0 20px 0 0 #007009;

    font-size: 50px;

    transition: all ease-in-out 0.3;
}

.pantallaInicio button:active{
    transform: translateY(20px);
    box-shadow: 0 0 0 0 #007009;
}

/*CARTA CON LA PREGUNTA*/

.quizCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*STILO DEL TIMER*/

.tiempoPorcentaje{
    background-color: #1B1A55;

    width: 80%;
    max-width: 620px;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;

    border-radius: 50px;
    border: 4px solid white;

    justify-self: center;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.tiempoPorcentaje p {
    padding-left: 10px;
    font-size: 20px;
}

.tiempoRestante{
    background-color: #00bf11;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    transition: linear 0.8s;
}

/*STILO DE LA PREGUNTA*/

.pregunta{
    text-align: center;
    font-size: 27px;

    padding-left: 10px;
    padding-right: 10px;
}

/*STILO DE LAS OPCIONES*/

.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.optCard{
    width: 300px;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: linear 0.3s;
}

.optCard img{
    width: 300px;
    height: 200px;
}

.optCard p{
    font-size: 18px;
    text-align: center;
}

/*VOLVER A JUGAR BOTON*/

#volverJugar{
    align-self: center;
    justify-self: center;

    margin-top: 20px;

    height: 40px;
    width: 160px;

    border: none;
    border-radius: 15px;
    background: #EEA727;

}

/*CLASES IMPORTANTES*/

.invi{
    display: none;
}